name: release_drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest

    steps:
      - name: Update draft release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: .github/release_drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
